@functions
{
    public string IntToRoman(int num)
    {
        int[] val = new int[] { 1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1 };
        string[] syb = new string[]{ "M", "CM", "D", "CD", "C", "XC", "L",
"XL", "X", "IX", "V", "IV", "I" };
        string romanNum = "";
        int counter = 0;
        while (num > 0)
        {
            for (int _ = 0; _ < num / val[counter];)
            {
                romanNum += syb[counter];
                num -= val[counter];
            }
            counter++;
        }
        return romanNum;
    }

    public Module? GetModuleById(int id)
    {
        var modules = ViewBag.Modules as List<Module>;
        return modules?.FirstOrDefault(module => module.Id == id);
    }

    public Lesson? GetFirstModuleLesson(int id)
    {
        return GetModuleById(id)?.Lessons?.MinBy(lesson => lesson.Number);
    }

    public bool IsLessonCompleted(int id)
    {
        return false;
    }

    public bool IsModuleCompleted(int id)
    {
        return false;
    }

    public bool IsExerciseCompleted(int id)
    {
        return false;
    }
}

@{
    Module? currentModule = GetModuleById(ViewBag.CurrentLesson.ModuleId);
}
<div class='module sidebar'>
    <div class='shadow-wrap'>
        @if (ViewBag.Modules != null)
        {
            @foreach (var module in ViewBag.Modules)
            {
                @if (GetFirstModuleLesson(module.Id) is not null)
                {
                    <a class='@("tab text dark" + (IsModuleCompleted(module.Id) ? " completed" : "") + (module.Id==currentModule?.Id ? " selected" : ""))'
            asp-controller="Lessons" asp-action="Details"
            asp-route-id='@GetFirstModuleLesson(module.Id)?.Id'>@IntToRoman(module.Number)</a>

                }
            }
        }
    </div>
</div>
<div class='lesson sidebar'>
    <p class='title dark'>@(currentModule?.Name ?? "")</p>
    <ul>
        @if (currentModule != null && currentModule.Lessons != null)
        {
            @foreach (var lesson in currentModule.Lessons.OrderBy(item=>item.Number))
            {
                <li class='@("section" + (lesson.Id != ViewBag.CurrentLesson.Id ? " collapsed" : ""))'>
                    <div class='dropdown'>
                        <div class='arrow'></div>
                        <a class='@("text dark" + (IsLessonCompleted(lesson.Id) ? " completed" : "") + (ViewBag.CurrentExercise == null && lesson.Id == ViewBag.CurrentLesson.Id ? " current" : ""))' 
                                asp-controller="Lessons" asp-action="Details" asp-route-id='@lesson.Id'>
                            @lesson.Name
                        </a>
                    </div>
                    <ul>
                        @if (lesson.Exercises != null)
                        {
                            @foreach (var exercise in lesson.Exercises.OrderBy(item=>item.Number))
                            {
                                <li class='@("text dark" + (IsExerciseCompleted(exercise.Id) ? " completed" : "") + (ViewBag.CurrentExercise != null && exercise.Id == ViewBag.CurrentExercise.Id ? " current" : ""))'>
                                    <a asp-area="" asp-controller="Exercises" asp-action="Details" asp-route-id=@exercise.Id>
                                        @exercise.Name
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</div>