@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="background">
    <div class="form">
        <h1 class="title">@ViewData["Title"]</h1>

        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" autocomplete="current-password" aria-required="true"
                    placeholder="Password" />
                <a class="form-link" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                <span asp-validation-for="Input.Password" class="warning"></span>
            </div>

            <label asp-for="Input.RememberMe" class="remember-me">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>

            <button id="login-submit" type="submit" class="submit">Log in</button>

        </form>

        <p class="or">or</p>


        @if ((Model.ExternalLogins?.Count ?? 0) != 0)
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
            class="inline">
                <button type="submit" class="login-with-google-btn" name="provider" value="@Model.ExternalLogins[0].Name"
                title="Log in using your @Model.ExternalLogins[0].DisplayName account">
                    Log in with @Model.ExternalLogins[0].DisplayName
                </button>
            </form>
        }

        <a class="form-link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>

    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
